:root {
    // Colors
    --soft-red: hsl(7, 99%, 70%);
    --yellow-color: hsl(51, 100%, 49%);
    --graphic-color: hsl(167, 40%, 24%);
    --photo-color: hsl(198, 62%, 26%);
    --footer-color: hsl(168, 34%, 41%);
    --footer-bg: hsl(168, 46%, 71%);

    --dark-color: hsl(212, 27%, 19%);
    --darken-grayish: hsl(213, 9%, 39%);
    --dark-grayish: hsl(232, 10%, 55%);
    --grayish: hsl(210, 4%, 67%);
    --white-color: hsl(0, 0%, 100%);

    // Fonts
    --text-font: 'Barlow', sans-serif;
    --header-font: 'Fraunces', serif;
}